### Section 25: Day 25 - Intermediate - Working with CSV Data and the Pandas Library

**------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

In [3]:
with open("weather_data.csv") as csv_file:
    data = csv_file.readlines()
print(data)

['day,temp,condition\n', 'Monday,12,Sunny\n', 'Tuesday,14,Rain\n', 'Wednesday,15,Rain\n', 'Thursday,14,Cloudy\n', 'Friday,21,Sunny\n', 'Saturday,22,Sunny\n', 'Sunday,24,Sunny']

In [4]:
import csv

In [10]:
with open("weather_data.csv") as csv_file:
    data = csv.reader(csv_file)
    temperatures =[]
    for row in data:
        if row[1].isalpha():
            pass
        else:
            temperatures.append(int(row[1]))
    print(temperatures)

[12, 14, 15, 14, 21, 22, 24]

In [11]:
import pandas

In [12]:
data = pandas.read_csv("weather_data.csv")
print(data)

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

In [13]:
data_dict = data.to_dict()
print(data_dict)

{'day': {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}, 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24}, 'condition': {0: 'Sunny', 1: 'Rain', 2: 'Rain', 3: 'Cloudy', 4: 'Sunny', 5: 'Sunny', 6: 'Sunny'}}

In [14]:
temp_list = data["temp"].to_list()
print(temp_list)

[12, 14, 15, 14, 21, 22, 24]

In [16]:
sum = 0
for temp in temp_list:
    sum += temp
ave = sum / len(temp_list)
print(ave)

17.428571428571427

In [18]:
data["temp"].mean()

17.428571428571427

In [19]:
data["temp"].max()

24

In [20]:
data.condition

0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object

In [21]:
data[data.day == "Monday"]

      day  temp condition
0  Monday    12     Sunny

In [23]:
data[data.temp == data.temp.max()]

      day  temp condition
6  Sunday    24     Sunny

In [24]:
monday = data[data.day == "Monday"]
print(monday.condition)

0    Sunny
Name: condition, dtype: object

In [32]:
def to_fahrenheit(celcius_temp):
    return celcius_temp*1.8 + 32

fahrenheit_temp = to_fahrenheit(int(monday.temp))
print(fahrenheit_temp)

53.6

In [27]:
type(monday.temp)

pandas.core.series.Series

In [34]:
data_dict = {
    "students": ["Amy", "James", "Angela"],
    "scores": [76, 56, 65]
}

In [35]:
data = pandas.DataFrame(data_dict)
print(data)

  students  scores
0      Amy      76
1    James      56
2   Angela      65

In [36]:
data.to_csv("new_data.csv")

**------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

### The Great Squirrel Census Data Analysis

In [37]:
import pandas as pd

In [38]:
squirrel_data = pd.read_csv("2018_Central_Park_Squirrel_Census_-_Squirrel_Data.csv")
print(squirrel_data)

              X          Y Unique Squirrel ID Hectare Shift      Date  \
0    -73.956134  40.794082     37F-PM-1014-03     37F    PM  10142018
1    -73.957044  40.794851     37E-PM-1006-03     37E    PM  10062018
2    -73.976831  40.766718      2E-AM-1010-03     02E    AM  10102018
3    -73.975725  40.769703      5D-PM-1018-05     05D    PM  10182018
4    -73.959313  40.797533     39B-AM-1018-01     39B    AM  10182018
...         ...        ...                ...     ...   ...       ...
3018 -73.963943  40.790868     30B-AM-1007-04     30B    AM  10072018
3019 -73.970402  40.782560     19A-PM-1013-05     19A    PM  10132018
3020 -73.966587  40.783678     22D-PM-1012-07     22D    PM  10122018
3021 -73.963994  40.789915     29B-PM-1010-02     29B    PM  10102018
3022 -73.975479  40.769640      5E-PM-1012-01     05E    PM  10122018

      Hectare Squirrel Number       Age Primary Fur Color  \
0                           3       NaN               NaN
1                           3     Adult              Gray
2                           3     Adult          Cinnamon
3                           5  Juvenile              Gray
4                           1       NaN               NaN
...                       ...       ...               ...
3018                        4     Adult              Gray
3019                        5     Adult              Gray
3020                        7     Adult              Gray
3021                        2       NaN              Gray
3022                        1     Adult          Cinnamon

         Highlight Fur Color  ...   Kuks  Quaas  Moans Tail flags  \
0                        NaN  ...  False  False  False      False
1                   Cinnamon  ...  False  False  False      False
2                        NaN  ...  False  False  False      False
3                        NaN  ...  False  False  False      False
4                        NaN  ...   True  False  False      False
...                      ...  ...    ...    ...    ...        ...
3018                     NaN  ...  False  False  False      False
3019                   White  ...  False  False  False      False
3020  Black, Cinnamon, White  ...  False  False  False      False
3021         Cinnamon, White  ...  False  False  False      False
3022             Gray, White  ...  False  False  False      False

     Tail twitches  Approaches  Indifferent  Runs from  Other Interactions  \
0            False       False        False      False                 NaN
1            False       False        False       True                  me
2            False       False         True      False                 NaN
3            False       False        False       True                 NaN
4            False       False        False      False                 NaN
...            ...         ...          ...        ...                 ...
3018         False       False        False       True                 NaN
3019         False       False         True      False                 NaN
3020         False       False         True      False                 NaN
3021         False       False         True      False                 NaN
3022         False        True        False      False                 NaN

                                          Lat/Long
0       POINT (-73.9561344937861 40.7940823884086)
1     POINT (-73.9570437717691 40.794850940803904)
2      POINT (-73.9768311751004 40.76671780725581)
3       POINT (-73.9757249834141 40.7697032606755)
4        POINT (-73.9593126695714 40.797533370163)
...                                            ...
3018    POINT (-73.9639431360458 40.7908677445466)
3019    POINT (-73.9704015859639 40.7825600069973)
3020    POINT (-73.9665871993517 40.7836775064883)
3021    POINT (-73.9639941227864 40.7899152327912)
3022    POINT (-73.9754794191553 40.7696404489025)

[3023 rows x 31 columns]

In [51]:
gray_squirrels_count = len(squirrel_data[squirrel_data["Primary Fur Color"] == "Gray"])
cinnamon_squirrels_count = len(squirrel_data[squirrel_data["Primary Fur Color"] == "Cinnamon"])
black_squirrels_count = len(squirrel_data[squirrel_data["Primary Fur Color"] == "Black"])

In [52]:
data_dict = {
    "Fur Color": ["Gray", "Cinnamon", "Black"],
    "Count": [gray_squirrels_count, cinnamon_squirrels_count, black_squirrels_count]
    
}

In [53]:
print(data_dict)

{'Fur Color': ['Gray', 'Cinnamon', 'Black'], 'Count': [2473, 392, 103]}

In [55]:
data = pd.DataFrame(data_dict)
data.to_csv("squirrel_count.csv")

**------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

**------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**